/* Colors
 ******************************/
/* Primary
 ***************/
$cream: #F2EAE2;
$deep-aquamarine: #3D8168;
/* Neutral
***************/
$aurometal-saurus: #6C7289;
$dark-deep-aquamarine: #1A4032;
$gunmetal: #1C232B;
$pure-white: #FFFFFF;

/* Global Variables
 ******************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: $cream;
}

picture {
    display: flex;
}

/* Body Variables
 ******************************/
main {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-preview-card {
    width: 343px;
    border-radius: 10px;
    overflow: hidden;
    background-color: $pure-white;

    &__body {
        padding: 24px;
    }

    &__text-content {
        display: flex;
        flex-direction: column;
    }

    &__category {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 5px;
        text-transform: uppercase;

        color: $aurometal-saurus;
    }

    &__title {
        margin: 12px 0 16px;
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 32px;

        color: $gunmetal;
    }

    &__description {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 23px;

        color: $aurometal-saurus;
    }

    &__price-and-add {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__price-container {
        display: flex;
        align-items: center;
        gap: 19px;
    }

    &__new-price {
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 32px;

        color: $deep-aquamarine;
    }

    &__old-price {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 23px;
        text-decoration-line: line-through;

        color: $aurometal-saurus;
    }
    
    &__btn {
        padding: 15px 0 16px;
        border-radius: 8px;

        background-color: $deep-aquamarine;
        border: none;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;

        color: $pure-white;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 11.61px;
    }
}

@media (hover: hover) and (pointer: fine) {
    .product-preview-card {
        &__btn {
            cursor: pointer;
            transition: background-color .5s ease-out;
    
            &:hover {
                background-color: $dark-deep-aquamarine;
            }
        }
    }
}

@media only screen and (min-width: 1440px) {
    .product-preview-card {
        width: 600px;
        height: 450px;

        display: flex;
        flex-direction: row;

        &__body {
            padding: 32px;
        }
        &__title {
            margin: 20px 0 24px;
        }
        &__price-and-add {
            margin-top: 29px;
            gap: 30px;
        }
    }
}