/* || Fonts Imports ('Montserrat and Fraunces')
 *************************/
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* || Global Variables
 *************************/
/* || Colors
 *************************/
$cream: #F2EAE2;
$deep-aquamarine: #3D8168;

$aurometal-saurus: #6C7289;
$dark-deep-aquamarine: #1A4032;
$gunmetal: #1C232B;
$pure-white: #FFFFFF;