/* || import styles
 *************************/
/* || base
 *************************/
/* || Fonts Imports ('Montserrat and Fraunces')
 *************************/
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* || Global Variables
 *************************/
/* || Colors
 *************************/
/* || Reset
 *************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

picture {
  display: flex;
}

/* || layout
 *************************/
/* || Main Element
 *************************/
body {
  background-color: #F2EAE2;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* || components
 *************************/
/* || Product Card
 *************************/
.product-card {
  width: 343px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #FFFFFF;
}
.product-card__body {
  padding: 24px;
}
.product-card__text-content {
  display: flex;
  flex-direction: column;
}
.product-card__category {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #6C7289;
}
.product-card__title {
  margin: 12px 0 16px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  color: #1C232B;
}
.product-card__description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  color: #6C7289;
}
.product-card__price-and-add {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.product-card__price-container {
  display: flex;
  align-items: center;
  gap: 19px;
}
.product-card__new-price {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  color: #3D8168;
}
.product-card__old-price {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  text-decoration-line: line-through;
  color: #6C7289;
}
.product-card__btn {
  padding: 15px 0 16px;
  border-radius: 8px;
  background-color: #3D8168;
  border: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11.61px;
}

/* || Media Queries
 *************************/
@media (hover: hover) and (pointer: fine) {
  .product-card__btn {
    cursor: pointer;
    transition: background-color 0.5s ease-out;
  }
  .product-card__btn:hover {
    background-color: #1A4032;
  }
}
@media (min-width: 1440px) {
  .product-card {
    width: 600px;
    height: 450px;
    display: flex;
    flex-direction: row;
  }
  .product-card__body {
    padding: 32px;
  }
  .product-card__title {
    margin: 20px 0 24px;
  }
  .product-card__price-and-add {
    margin-top: 29px;
    gap: 30px;
  }
}